.header{
    padding: 25px 0;
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: gold;
}

.row{
    display: flex;
    gap: 25px;
}



.logo{
    font-size: 34px;
}